astroid==2.12.13
autopep8==2.0.2
bpyutils==0.5.8
build==0.9.0
cachetools==5.3.0
certifi==2023.5.7
chardet==5.0.0
charset-normalizer==3.1.0
colorama==0.4.6
colorclass==2.2.2
commonmark==0.9.1
crudini==0.9.3
dill==0.3.6
docopt==0.6.2
flake8==5.0.4
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.18.1
google-auth-httplib2==0.1.0
googleapis-common-protos==1.59.0
httplib2==0.22.0
idna==3.4
iniparse==0.5
isort==5.10.1
lazy-object-proxy==1.8.0
mccabe==0.7.0
packaging==23.0
pep517==0.13.0
pip-upgrader==1.4.15
platformdirs==2.5.4
protobuf==4.23.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.10.0
pyflakes==3.0.1
Pygments==2.13.0
pylint==2.15.6
pyparsing==3.0.9
requests==2.30.0
rsa==4.9
six==1.16.0
terminaltables==3.1.10
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
treeherder-client==5.0.0
typing_extensions==4.4.0
upgrade-requirements==1.7.0
uritemplate==4.1.1
urllib3==2.0.2
wrapt==1.14.1
xmltodict==0.13.0
